/* The rest copied directly from react-burger-menu docs */

/*global format*/
/* .main-format{
  background: #F4F6F8;
} */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 140px;
  height: 40px;
  left: -53px;
  top: 200px;
  transform: rotate(90deg);
}

/*button formatting*/
.icon-text {
  color: #F4F6F8 !important;
  background-color:#4C734E !important;
  width: 140px;
  height: 40px;
  font-weight: bold;
}

/*text in sidebar formatting*/
.menu-text {
  color: #F4F6F8 !important;
  padding: 10px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
background: #4f505a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 50px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: #F4F6F8;
}

/* General sidebar styles */
.bm-menu {
background: #4f505a;
padding: 2.5em 1.5em 0;
font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #4f505a;
}

/* Wrapper for item list */
.bm-item-list {
color: #E2D5C8;
}

/* Styling of overlay */
.bm-overlay {
background: #4f505a;
}

.bm-css-icon-close div, .mk-css-icon-menu div {
  display: none;
}
.bm-dashboard-trigger .mk-css-icon-menu {
 background-image: url(https://previews.123rf.com/images/hedgehogvector/hedgehogvector1803/hedgehogvector180300023/97040738-burger-line-simple-icon-.jpg);
 background-repeat: no-repeat;
 background-size: contain;
}

#background {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
  width:100%;
  height:100%;
}
