@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            top: 10;
            text-align: center;
        }
}

.btn-outline-light:hover {
    background-color: #F4F6F8;
}

/* for subnavbar position */
.fixed-top-2 {
    margin-top: 56px;
}
