@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            top: 10;
            text-align: center;
            z-index: 99;
        }
}

.btn-outline-light {
    color: #F4F6F8;
}

.btn-outline-light:hover {
    background-color: #F4F6F8;
    color:#7488A3
}

/* for subnavbar position */
.fixed-top-2 {
    margin-top: 56px;
}

.subnavbar-text {
    color: #7488A3 !important;
}

.subnavbar-text:hover {
    color: #F4F6F8 !important;
    background-color:#7488A3
}

.collapse-colour {
    background-color: #7488A3 !important;
}

.ALBUMIFY-text {
    color: #4C734E !important;
    font-style: oblique;
}

.ALBUMIFY-text:hover {
    color: #F4F6F8 !important;
    background-color:#4C734E;
    font-style: oblique;
    font-size:25px;
    font-weight: bold;
}
