.picky {
    width: 100%;
    position: relative;
  }
  .picky * {
    box-sizing: border-box;
  }
  .picky__input {
    width: 100%;
    background-color: #4C734E;
    border: 0;
    border-width: 1px;
    border-color: #4C734E;
    color: #E2D5C8;
    border-style: solid;
    border-radius: 2px;
    padding: 5px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    height: 46px;
    top: -8px;
    
  }


  .picky__input--disabled,
  .picky__input--disabled + .picky__dropdown .option {
    color: #717381;
  }

 .button-format {
    background-color: #717381;
    position: relative;
    color: #717381;
    height: 20px !important;
    width: 20px !important;
    z-index: 100;
    top: 4px !important;
    border-color: #4C734E !important;
 }

  .picky__dropdown {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    width: 100%;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
    z-index: 99;
    background: #F4F6F8;
    border-left: 1px solid #E2D5C8;
    border-right: 1px solid #E2D5C8;
    border-bottom: 1px solid #E2D5C8;
    
    top: 39px;
    
  }

  .picky__dropdown .option,
  .picky__dropdown li {
    list-style: none;
    background-color: #F4F6F8;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    padding: 0.5em;
    cursor: pointer;
    border-bottom: 1px solid #E2D5C8;
    color: #4C734E;
    text-align: left;
  }

  .picky__dropdown .option:hover,
  .picky__dropdown li:hover {
    background-color: #E2D5C8;
  }
  .picky__dropdown .option.selected,
  .picky__dropdown li.selected {
    background-color: #E2D5C8;
  }
  .picky__dropdown .option:focus,
  .picky__dropdown li:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
  }
  .picky__dropdown .option input[type='checkbox'],
  .picky__dropdown .option input[type='radio'],
  .picky__dropdown li input[type='checkbox'],
  .picky__dropdown li input[type='radio'] {
    margin-right: 3px;
  }
  .picky__filter {
    display: flex;
    width: 100%;
    padding: 3px;
  }
  .picky__filter__input {
    width: 100%;
    padding: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    height: 30px;
  }
  
  .navDropdownButton {
	  position: relative;
	  top: -8px;
  }