.main.image_picker{
    width:100%;
    padding-left: 5em;
    padding-top: 2.5em
}

.image_picker .responsive{
    position:relative;
    margin:0 6px;
    float:left;
    opacity:1;
    padding-bottom: 10px
}

.image_picker .responsive .thumbnail{
    border:1px solid #4C734E;
    border-radius:4px;
    padding:5px;
    width:150px;
    opacity:1;
    margin:0;
}

.image_picker .responsive .thumbnail:hover{
    box-shadow:0 0 2px 1px #4C734E
}

.image_picker .responsive .selected{
    background-color:#E2D5C8
}

.image_picker .responsive:hover{
    cursor:pointer
}

.image_picker .responsive .checked{
    display:none
}

.image_picker .selected{
    outline: 100px solid rgba(226, 213, 200, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

.image_picker .selected .checked{
    display:inline-block;
    transition:.5s ease;
    position:absolute;
    bottom:0;
    right:0
}

.image_picker .selected .checked .icon{
    background:url(./images/check.png);
    background-size:cover;
    height:75px;
    width:75px;
    z-index: 10;
}

.image_picker .clear{
    clear:both
}