/* .album-format{
   
} */

.page-left{
    box-shadow: 5px 5px rgba(116, 136, 163, 0.7);
    top:75px;
    border-right-color: rgb(61, 94, 62) !important;
    border:1px solid #4C734E;
    background-image: linear-gradient(to right, rgba(240, 227, 215, 0), 
        rgba(240, 227, 215, 0), rgba(76, 115, 78, 0), rgba(76, 115, 78, 0.1),
        rgba(76, 115, 78, 0.1),  rgba(76, 115, 78, 0.1),rgba(76, 115, 78, 0.3),
        rgba(76, 115, 78, 0.7),rgba(76, 115, 78, 0.9),rgba(25, 64, 71, 0.8));
    background-color: rgba(240, 227, 215, 0.85);
    width: 35% !important;
    height:75%;
    border-radius:4px;
    position: absolute;
    right: 50% !important;
}

.page-right{
    box-shadow: 5px 5px rgba(116, 136, 163, 0.7);
    top:75px;
    border-left-color: rgb(61, 94, 62) !important;
    border:1px solid #4C734E;
    background-image: linear-gradient(to left, rgba(240, 227, 215, 0),
    rgba(240, 227, 215, 0), rgba(76, 115, 78, 0), rgba(76, 115, 78, 0.1), 
    rgba(76, 115, 78, 0.1),  rgba(76, 115, 78, 0.1),rgba(76, 115, 78, 0.3),
    rgba(76, 115, 78, 0.7),rgba(76, 115, 78, 0.9),rgba(25, 64, 71, 0.8));
    background-color: rgba(240, 227, 215, 0.85);
    width: 35% !important;
    height:75%;
    border-radius:4px;
    position: absolute;
    left: 50% !important;
}

.pagination-button{
    background-color: #7488A3 !important;
    color: #F4F6F8 !important;
    border: 1px solid #F4F6F8;
}
.pagination-disabled{
    background-color: #4f505a !important;
    color: #7488A3 !important;
    border: 1px solid #7488A3;
}
.pagination-selected{
    background-color: #4C734E !important;
    color: #F4F6F8 !important;
    border: 1px solid #4C734E !important;
}

.pagination-location{
    position: absolute;
    left: 40% !important;
    top: 90% !important;
}
/* 
.image_picker .responsive .thumbnail{
    border:1px solid #4C734E;
    border-radius:4px;
    padding:5px;
    width:150px !important;
    height:120px !important;
    opacity:1;
    margin-right:5px;
    margin-left:5px;
    margin-top:-5px;
    position: relative;
    right: 10 !important;
    z-index: 2;
} */